@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.document-card {
    width: 20rem;
    height: 25.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: $box-shadow;
    border-top: 8px solid $secondary-font-color;

    &--highlight-border {
        border-top: 8px solid $highlight-color;
    }

    &--closed-border {
        border-top: 8px solid $closed-border-color;
    }

    &__icon {
        width: 5rem;
        height: 5rem;
        margin-bottom: 1rem;
        align-self: center;
    }

    &__pin-icon {
        height: 3rem;
        margin-top: -2.5rem;
        opacity: 50%;
        position: absolute;
    }

    &__details{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        line-height: 2rem;
        font-weight: 100;
        color: $details-font-color;

        &--title {
            margin-bottom: .5rem;
        }
    }

    &__reviewer-pill {
        display: flex;
        gap: .5rem;
        margin-bottom: .5rem;
        border-radius: 4px;
        font-weight: 500;

        // &--review {
        //     background-color: #FFE49E;
        //     color: #4C442F;
        //     padding: .25rem .75rem;
        //     width: fit-content;
        // }
    }

    &__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    &__col {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }

    &__pills {
        display: flex;
        align-self: flex-end;
        justify-content: center;
        margin-bottom: 2rem;
        gap: 1rem;
    }

    &__status {
        text-align: center;
        border-radius: 4px;
        padding: .25rem .75rem;

        &--open {
            background-color: $open-pill-color;
            color: $open-pill-font-color;
        }

        &--closed {
            background-color: $closed-color;
            color: $primary-font-color;
        }
    }

    &__review {
        padding: .25rem .75rem;
        border-radius: 4px;
        background-color: $highlight-color;
        color: $highlight-font-color;
    }

    &__actions {
        width: 100%;
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__button-edit, &__button-delete {
        @include button;
        font-size: 1rem;
        width: 5rem;
    }

    &__button-delete {
        background-color: $primary-background-color;
        color: $CTA-font-color;

        &:hover {
            background-color: $primary-background-color;
            color: $delete-hover-color;
        }
    }
}