@use "../../styles/partials/mixins" as *;

.document-card {
    width: 20rem;
    height: 27rem;
    padding:  1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &__icon {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1rem;
    }

    &__details{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        line-height: 2rem;

        &--title {
            align-self: center;
            margin-bottom: 1rem;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__actions {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    &__button {
        @include button;
        width: 6rem;
        font-size: 1rem;;
    }
}