@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.documents-container {
    min-height: 55rem;
    padding: 2rem 1rem 6rem 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 2rem 2rem 6rem 2rem;
    }

    &__filter {
        margin-left: .5rem;
    }

    &__filter-row {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__filter-title {
        color: #767676;
        display: none;
        
        @include tablet {
            display: flex;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        width: 100%;
    }

    &__information {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 21rem;
        border-radius: 25px;
        font-size: 1.25rem;
        border: none;
        // padding: .75rem;
        background-color: white;
        border: 1px solid #D7D7D7;
        color: #3a6adb;
    } 
    
    &__text {
        cursor: pointer;
    }

    &__text-highlight {
        background-color: #3a6adb;
        color: white;
        border-radius: 25px;
        padding: .5rem 1.25rem;
        position: relative;
        margin-left: -.75rem;
    }

    &__button {
        display: flex;
        justify-content: center;
        @include button;
        width: 3rem;

        @include tablet {
            width: 15.5rem;
        }

        &--tablet {
            display: none;

            @include tablet {
                display: flex;
                padding-left: 1rem;
            }
        }
    }
}

.documents-list {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    gap: 4rem;
    padding: 1rem;

    @include tablet {
        justify-content: flex-start;
    }
}