@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.documents-container {
    min-height: 30rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &__button {
        @include button;
        width: 15rem;
        margin-bottom: 2rem;
    }

    &__link {
        align-self: flex-end;
    }
}

.documents-list {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}