@use "./variables" as *;

// Breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {     
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin button {
    width: 10rem;
    border-radius: 25px;
    font-size: 1.25rem;
    border: none;
    padding: .75rem;
    background-color: #3a6adb;
    color: white;
    cursor: pointer;
    transition: background-color .15s ease-in;

    &:hover {
        background-color: #3942de;
    }
}

@mixin input {
    width: 12rem;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: .75rem;
    background-color: rgba(211, 211, 211, 0.089);

    &::placeholder {
        font-size: 1rem;
    }

    &:active {
        border-color: slategray;
    }

    &:focus {
        border-color: slategray;
        outline-color: slategray;
    }
}

@mixin label {
    font-size: 1.125rem;
    margin-top: 1rem;
    font-weight: 700;
}