$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Font variables
$font-stack: "Montserrat", sans-serif;
$root-font-size: 100%;

// Font colors //
$primary-font-color: #333333;
$secondary-font-color: white;
$navbar-font-color: #3942de;
$hover-font-color: #0812de;

// Background colors // 
$navbar-background-color: #5f8af2;
$hero-background-color: linear-gradient(#434BE7, #545ce7);