@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.welcome-banner {
    padding: 6rem 2rem 0 2rem;
    height: 27rem;
    background: $hero-background-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;

    @include tablet {
        height: 30rem;
    }

    @include desktop {
        padding-left: 5rem;
    }

    &__title {
        font-size: 2.15rem;
        color: $secondary-font-color;
        white-space: nowrap;
        overflow: hidden;  
        border-right: solid 3px $cursor-color;
        animation: animated-text 2s steps(19,end) 1s 1 normal both,
        animated-cursor 600ms steps(19,end);

        @keyframes animated-text{
            from{width: 0rem;}
            to{width: 23rem;}
        }

        @keyframes animated-cursor{
            from{border-right-color: $cursor-color;}
            to{border-right-color: transparent;}
        }

        @include tablet {
            font-size: 3.25rem;
            @keyframes animated-text{
                from{width: 0rem;}
                to{width: 31rem;}
            }
        }
    }
}