@use "../../styles/partials/mixins" as *;

.hero {
    background: linear-gradient(#434BE7, #5f1dec);
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    clip-path: polygon(0% 0%, 100% 0%,100% 80%,0% 100%);

    @include tablet {
        padding-top: 5rem;
    }


    &__icon {
        width: 15rem;
        height: 15rem;
        margin-left:2rem;

        @include tablet{
            width: 20rem;
            height: 20rem;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    &__desc {
        color: white;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 3rem;
        padding-right: 2rem;
        max-width: 30rem;
        @include tablet {
            font-size: 2rem;
            line-height: 3.5rem;
        }

        &--bold {
            font-size: 2rem;

            @include tablet {
                font-size: 2.5rem;
            }
        }
    }

    &__triangle-container {
        width: 500rem;
    }

    // &__triangle {
    //     width: 100rem;
    // }
}