@use "../../styles/partials/mixins" as *;

.hero {
    background: linear-gradient(#434BE7, #5f1dec);
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    clip-path: polygon(0% 0%, 100% 0%,100% 80%,0% 100%);

    @include tablet {
        padding-top: 5rem;
    }

    &__tagline {
        padding: 4rem;
        text-align: center;
        margin-top: -5rem;
        color: white;
        font-weight: 100;
        font-size: 3rem;
        line-height: 3rem;

        @include tablet{
            padding: 5rem;
        }
    }
}