@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    
    &__title {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }

    &__input {
        margin-bottom: 2rem;
        @include input;
    }

    &__button {
        @include button;
        margin: 1rem;
    }

    &__signup {
        display: flex;
        align-items: center;
        margin-top: 4rem;
    }

    &__link {
        margin-left: 2rem;
        border: none;
        background-color: $primary-background-color;
        cursor: pointer;
        color: $hover-font-color;
        font-size: 1.125rem;

        &:hover {
            color: $hover-font-color;
        }
    }
}