@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.edit-form {
    padding: 9rem 2rem 4rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 3rem;
        margin: 2rem 0;
        color: $primary-font-color;
    }

    &__back-button, &__edit-button {
        @include button;
    }

    &__edit-button {
        margin-top: 3rem;
        align-self: center;
    }

    &__link {
        align-self: flex-end;
    }

    &__icon {
        height: 20rem;
        width: 20rem;
    }

    &__container {
        display: flex;
        padding:  3rem 2rem;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 22rem;
    }

    &__input {
        @include input;
        width: 100%;
        padding: .5rem;
        margin-top: .25rem;
    }

    &__label {
        display: flex;
        flex-direction: column;
        @include label;

        &--title {
            margin-top: 0;
        }
    }

    &__radio {
        margin: 0 .5rem;
        margin-top: .25rem;
        color: black;
    }
}

// Radio button styling
*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid black;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #3942de;
    background-color: white;
  }

  &:checked::before {
    transform: scale(1);
  }

  :focus {
    outline: max(2px, 0.15em) solid #3942de;
    outline-offset: max(2px, 0.15em);
  }
}

.edit-form__radio-label {
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5rem;

    &:focus-within {
        color: black;
    }
}