@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sidebar {
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -18.75rem;
    z-index: 997;
    background-color: $sidebar-background-color;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;

    @include tablet {
        width: 18.75rem;
    }

    &.active {
        right: 0;
    }

    &__links {
        display: flex;
        height: 100%;
        flex-direction: column;
        list-style: none;
        margin-top: 8rem;
        margin-left: 2rem;

        @include tablet{
            margin-left: 3rem;
            margin-top: 11rem;
        }
    }

    &__list-item {
        margin-bottom: 1rem;
        color: $secondary-font-color;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        @include tablet{
            margin-bottom: 2rem;
        }

        &:hover {
            font-weight: 500;
        }
    }

    &__logout {
        display: flex;
        font-size: 1.5rem;
        font-weight: 100;
        align-items: center;
        margin-bottom: 2rem;
        margin-left: 2rem;

        @include tablet{
            margin-left: 3rem;
            font-size: 1.75rem;
        }

        &:hover {
            font-weight: 500;
        }
    }

    &__logout-icon {
        height: 2rem;
    }

    &__link {
        font-size: inherit;
        color: $secondary-font-color;

        &--logout {
            cursor: pointer;
            margin-left: 1rem;
        }
    }
}