@use "../../styles/partials/variables" as *;

.navbar {
    display: flex;
    align-items: center;
    height: 6rem;
    padding: 1rem 2rem;
    background-color: $navbar-background-color;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 998;
    color: white;
    overflow: hidden;

    &__logo {
        color: white;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 32px;
        height: 27px;
        margin-right: 5rem;
        cursor: pointer;
    
        span {
            width: 100%;
            height: 3px;
            background-color: white;
            transform-origin: left;
            transition: all 1s ease;
        }
    }

    &.active {
        color: white;

        .hamburger {
            span {
                &:first-child {
                    background-color: white;
                    transform: rotate(45deg)
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-45deg)
                }
            }
        }
        
    }
}