.nav {
    display: flex;
    align-items: center;
    height: 6rem;
    background-color: #69a4f6ba;
    justify-content: space-between;
    // position: fixed;
    // width: 100%;
    // z-index: 999;

    &__logo {
        margin-top: 1rem;
    }

    &__link {
        color: #434BE7;
        font-weight: 400;

        &:hover {
            color: #1a24e4;
        }
    }

    &__links {
        padding-right: 5rem;
    }
}