@use "./styles/partials/variables" as *;

* {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.25rem;
    font-weight: 500;
    letter-spacing: 0;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: .75px;
    font-weight: 500;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: .75px;
    font-weight: 700;}

p {
    font-size: 1.25rem;
}

li {
    list-style-type: none;
}

.error {
    color: red;
    font-size: 1rem;
    margin: .5rem 0;
    text-align: center;
}

.error-input, .error-input__login {
    width: 15rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid red;
    padding: .75rem;
    background-color: rgba(211, 211, 211, 0.089);

    &::placeholder {
        font-size: 1rem;
    }

    &:active {
        border: 2px solid red;
    }

    &:focus {
        border: 2px solid red;
        outline: 1px solid red;
    }
}

.error-input__login {
    margin-bottom: 2rem;
}

.error-input__add-document, .error-input__edit-document {
    margin-top: .5rem;
    background-color: white;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid red;
    padding: .5rem;

    &::placeholder {
        font-size: 1rem;
    }

    &:active {
        border: 2px solid red;
    }

    &:focus {
        border: 2px solid red;
        outline: 1px solid red;
    }
}